body{
  padding: 1rem;
}
input{
  padding: 5px;
  margin-right: 10px;
}
button{
  padding: 5px;
  margin-right: 10px;
}
form{
  border: 1px solid #a8a0a0;
  padding: 10px 20px;
  width: 35%;
  position: relative;
}
form > input{
  position: absolute;
  bottom: 20px;
  right: 10px;
}